* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: #efe9df;
    color: #2c241f;
    line-height: 1.7;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    background:#2c241f; /*rgba(248,246,243,0.95);*/
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
}

.logo {
    font-size: 1.5rem;
    font-weight: 600;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #efe9df;
}

.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 120px 8%;
}

.hero-content {
    max-width: 700px;
}

.eyebrow {
    letter-spacing: 3px;
    font-size: 0.8rem;
    margin-bottom: 15px;
}

.hero h1 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 5rem;
    font-weight: 600;
}

.hero h2 {
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 25px;
}

.hero-description {
    font-size: 1.1rem;
    max-width: 600px;
}

.hero-buttons {
    margin-top: 40px;
    display: flex;
    gap: 15px;
}

.btn-primary,
.btn-secondary {
    padding: 14px 28px;
    text-decoration: none;
    border-radius: 30px;
    transition: 0.3s;
}

.btn-primary {
    background:#2c241f;
    color: white;
}

.btn-primary:hover {
    transform: translateY(-3px);
}

.btn-secondary {
    border: 1px solid #111;
    color: #111;
}

.section {
    padding: 120px 0;
}

.section-title {
    font-family: 'Cormorant Garamond', serif;
    font-size: 3rem;
    margin-bottom: 40px;
}

.about-text {
    max-width: 800px;
    margin-bottom: 40px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
    gap: 20px;
}

.skill-card {
    padding: 25px;
    background: white;
    border-radius: 12px;
}

.section-dark {
    background: #2c241f;
}

.light {
    color: white;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    gap: 25px;
}

.project-card {
    background: #1f1f1f;
    color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.project-card-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.project-card-link:visited {
    color: inherit;
}
.project-card-link:active {
    color: inherit;
}

.project-card:hover {
    transform: translateY(-8px);
    background: #2a2a2a;
    box-shadow: 0 12px 30px rgba(0,0,0,0.15);
}

.article-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.article-item {
    background: white;
    padding: 25px;
    border-radius: 12px;
}

.contact-text {
    margin-bottom: 30px;
}

footer {
    text-align: center;
    padding: 40px;
    border-top: 1px solid #ddd;
}

.fade-in {
    opacity: 0;
    transform: translateY(30px);
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.8s ease;
}

@media(max-width:768px){

    .hero h1{
        font-size:3rem;
    }

    .nav-links{
        display:none;
    }

}
